:root {
	--main-lum: 100%;
	--search-bg-lum: 100%;
	--search-input-bg-lum: 100%;
	--bg-lum: 85%;
	--text-lum: 0%;
	--result-item-hover-lum: 90%;
}

:root[theme="dark"] {
	--main-lum: 10%;
	--search-bg-lum: 25%;
	--search-input-bg-lum: 20%;
	--bg-lum: 25%;
	--text-lum: 80%;
	--result-item-hover-lum: 15%;
}